Repository XFox111/PasswordGeneratorExtension, pull requests merged in 2024-02, with the labels that each got.

#300 Improved quick adjustment panel
  .vscode/settings.json
  src/App.tsx
  src/Components/GeneratorView.styles.ts
  src/Components/GeneratorView.tsx
  src/Components/SettingsSection.styles.ts
  src/Components/SettingsSection.tsx
  src/Data/Locales/en/messages.json
  src/Data/Locales/pl/messages.json
  src/Data/Locales/pt_BR/messages.json
  src/Data/Locales/ru/messages.json
  src/Data/Locales/uk/messages.json
  src/Models/ExtensionOptions.ts
Labels: feature

#307 Update pt-BR
  src/Data/Locales/pt_BR/messages.json
Labels: locale

#308 Minor 3.1.0
  .github/workflows/cd_pipeline.yaml
  .vscode/settings.json
  package.json
  src/App.tsx
  src/Components/AboutSection.tsx
  src/Components/GeneratorView.styles.ts
  src/Components/GeneratorView.tsx
  src/Components/SettingsSection.styles.ts
  src/Components/SettingsSection.tsx
  src/Data/Locales/en/messages.json
  src/Data/Locales/pl/messages.json
  src/Data/Locales/pt_BR/messages.json
  src/Data/Locales/ru/messages.json
  src/Data/Locales/uk/messages.json
  src/Models/ExtensionOptions.ts
  src/Specials/Snow.scss
  src/Specials/Snow.styles.ts
  src/Specials/Snow.tsx
  src/popup.css
  yarn.lock
Labels: feature, security fix, dependencies, github_actions, patch-tuesday, locale, refactoring
